{% extends 'base.html.twig' %}

{% block title %}Application index{% endblock %}

{% block body %}
    {# BARRE DE NAV #}
    {% include 'tools/navbar.html.twig' %}

    <div class="container-fluid">

        <div class="d-flex align-items-center">
            <h1>Mes Candidatures</h1>
            <a href="{{ path('app_application_new') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green"
                     viewBox="0 0 256 256">
                    <path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm48-88a8,8,0,0,1-8,8H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32A8,8,0,0,1,176,128Z"></path>
                </svg>
            </a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Job_title</th>
                <th>Sent</th>
                <th>Response</th>
                <th>Link</th>
                <th>Company</th>
                <th>Contact</th>
                <th>Job Board</th>
                <th>Note</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.id }}</td>
                    <td>{{ application.jobTitle }}</td>
                    <td>{{ application.sent ? application.sent|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ application.response ? application.response|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ application.link }}</td>
                    <td>{{ application.company }}</td>
                    <td>{{ application.contact }}</td>
                    <td>{{ application.jobboard }}</td>
                    <td>{{ application.note }}</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="{{ path('app_application_show', {'id': application.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="blue"
                                     viewBox="0 0 256 256">
                                    <path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm-8-80V80a8,8,0,0,1,16,0v56a8,8,0,0,1-16,0Zm20,36a12,12,0,1,1-12-12A12,12,0,0,1,140,172Z"></path>
                                </svg>
                            </a>
                            <a href="{{ path('app_application_edit', {'id': application.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                     viewBox="0 0 256 256">
                                    <path d="M201.54,54.46A104,104,0,0,0,54.46,201.54,104,104,0,0,0,201.54,54.46ZM88,206.37V176h80v30.37A88.38,88.38,0,0,1,88,206.37ZM104,144h48v16H104Zm14-16,10-48h0l10,48Zm72.22,62.23c-2,2-4.08,3.87-6.22,5.64V176a16,16,0,0,0-16-16V144a16,16,0,0,0-13.61-15.8L143.66,76.74a16,16,0,0,0-31.32,0L101.61,128.2A16,16,0,0,0,88,144v16a16,16,0,0,0-16,16v19.87c-2.14-1.77-4.22-3.64-6.22-5.64a88,88,0,1,1,124.44,0Z"></path>
                                </svg>
                            </a>
                            <a href="{{ path('app_application_new') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green"
                                     viewBox="0 0 256 256">
                                    <path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm48-88a8,8,0,0,1-8,8H136v32a8,8,0,0,1-16,0V136H88a8,8,0,0,1,0-16h32V88a8,8,0,0,1,16,0v32h32A8,8,0,0,1,176,128Z"></path>
                                </svg>
                            </a>
                            <form method="post" action="{{ path('app_application_delete', {'id': application.id}) }}"
                                  onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}">
                                <button class="btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red"
                                         viewBox="0 0 256 256">
                                        <path d="M165.66,101.66,139.31,128l26.35,26.34a8,8,0,0,1-11.32,11.32L128,139.31l-26.34,26.35a8,8,0,0,1-11.32-11.32L116.69,128,90.34,101.66a8,8,0,0,1,11.32-11.32L128,116.69l26.34-26.35a8,8,0,0,1,11.32,11.32ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_application_new') }}">Create new</a>

    </div>

{% endblock %}
