{% extends 'base.html.twig' %}

{% block title %}Ajouter une candidature{% endblock %}

{% block body %}
<div
  class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8 bg-white dark:bg-gray-800 shadow rounded-md"
>
  <h1 class="text-2xl font-bold leading-7 text-gray-900 dark:text-white mb-6">
    Ajouter une candidature
  </h1>

  {{ form_start(form) }}

  <div class="space-y-12">
    <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">
      Informations de la candidature
    </h2>
    <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-300">
      Complétez les détails liés au poste et à votre envoi.
    </p>

    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-4">
        {{ form_label(form.job_title, null, {
          label_attr: {
            class: 'block text-sm font-medium text-gray-700 dark:text-gray-300'
          }
        }) }}
        <div class="mt-2">
          {{ form_widget(form.job_title, {
            attr: {
              class: 'block w-full rounded-md p-2 border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm placeholder:text-sm placeholder:text-gray-400 dark:placeholder:text-gray-500 placeholder:italic',
              placeholder: 'Intitulé du poste'
            }
          }) }}
        </div>
      </div>

      <div class="sm:col-span-3">
        {{ form_label(form.sent, null, {
          label_attr: {
            class: 'block text-sm font-medium text-gray-700 dark:text-gray-300'
          }
        }) }}
        <div class="mt-2">
          {{ form_widget(form.sent, {
            attr: {
              class: 'block w-full rounded-md p-2 border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm placeholder:text-sm placeholder:text-gray-400 dark:placeholder:text-gray-500 placeholder:italic',
              placeholder: "Date d'envoi"
            }
          }) }}
        </div>
      </div>

      <div class="sm:col-span-3">
        {{ form_label(form.response, null, {
          label_attr: {
            class: 'block text-sm font-medium text-gray-700 dark:text-gray-300'
          }
        }) }}
        <div class="mt-2">
          {{ form_widget(form.response, {
            attr: {
              class: 'block w-full rounded-md p-2 border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm placeholder:text-sm placeholder:text-gray-400 dark:placeholder:text-gray-500 placeholder:italic',
              placeholder: "Réponse reçue ?"
            }
          }) }}
        </div>
      </div>

      <div class="sm:col-span-6">
        {{ form_label(form.link, null, {
          label_attr: {
            class: 'block text-sm font-medium text-gray-700 dark:text-gray-300'
          }
        }) }}
        <div class="mt-2">
          {{ form_widget(form.link, {
            attr: {
              class: 'block w-full rounded-md p-2 border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm placeholder:text-sm placeholder:text-gray-400 dark:placeholder:text-gray-500 placeholder:italic',
              placeholder: "URL de l'annonce"
            }
          }) }}
        </div>
      </div>

      <div class="sm:col-span-3">
        {{ form_label(form.company, null, {
          label_attr: {
            class: 'block text-sm font-medium text-gray-700 dark:text-gray-300'
          }
        }) }}
        <div class="mt-2">
          {{ form_widget(form.company, {
            attr: {
              class: 'block w-full rounded-md p-2 border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm placeholder:text-sm placeholder:text-gray-400 dark:placeholder:text-gray-500 placeholder:italic',
              placeholder: "Google, Microsoft, etc."
            }
          }) }}
        </div>
      </div>

      <div class="sm:col-span-3">
        {{ form_label(form.jobboard, null, {
          label_attr: {
            class: 'block text-sm font-medium text-gray-700 dark:text-gray-300'
          }
        }) }}
        <div class="mt-2">
          {{ form_widget(form.jobboard, {
            attr: {
              class: 'block w-full rounded-md p-2 border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm placeholder:text-sm placeholder:text-gray-400 dark:placeholder:text-gray-500 placeholder:italic',
              placeholder: "Linkedin, France Travail, etc."
            }
          }) }}
        </div>
      </div>

      <div class="sm:col-span-3">
        {{ form_label(form.contact, null, {
          label_attr: {
            class: 'block text-sm font-medium text-gray-700 dark:text-gray-300'
          }
        }) }}
        <div class="mt-2">
          {{ form_widget(form.contact, {
            attr: {
              class: 'block w-full rounded-md p-2 border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm placeholder:text-sm placeholder:text-gray-400 dark:placeholder:text-gray-500 placeholder:italic',
              placeholder: "Nom du contact"
            }
          }) }}
        </div>
      </div>

      <div class="sm:col-span-3">
        {{ form_label(form.statut, null, {
          label_attr: {
            class: 'block text-sm font-medium text-gray-700 dark:text-gray-300'
          }
        }) }}
        <div class="mt-2">
          {{ form_widget(form.statut, {
            attr: {
              class: 'block w-full rounded-md p-2 border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-gray-900 dark:text-white shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm placeholder:text-sm placeholder:text-gray-400 dark:placeholder:text-gray-500 placeholder:italic',
              placeholder: "En cours / Acceptée / Refusée"
            }
          }) }}
        </div>
      </div>

      <div class="sm:col-span-6">
        {{ form_row(form.note) }}
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-4">
    <a
      href="{{ path('app_application_index') }}"
      class="inline-flex items-center px-4 py-2 bg-red-600 hover:bg-red-700 text-white text-sm rounded shadow"
    >Annuler</a>

    <a
      href="{{ path('app_contact_new') }}"
      class="rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-600"
    >Ajouter un contact</a>

    <button
      type="submit"
      class="rounded-md bg-green-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-700"
    >
      {{ button_label|default('Enregistrer') }}
    </button>
  </div>

  {{ form_end(form) }}
</div>
{% endblock %}
