<a href="{{ path('home', { 'title': 'follow-job-homepage'|slugify }) }}">Accueil</a>
<a href="{{ path('app_application_index') }}">Candidatures</a>
<a href="{{ path('app_company_index') }}">Entreprises</a>
<a href="{{ path('app_contact_index') }}">Contacts</a>
<a href="{{ path('app_job_board_index') }}">JobBoards</a>